@import "../../../styles.scss";

.member-icon,
.member-add-icon {
  font-size: 36px;
}

.member-add-icon {
  padding-left: 12px;
  color: $color-faded;

  &:hover {
    color: $color-background-brand;
  }
}
