.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  min-width: 200px;

  &-spacer {
    flex: 1 1 auto;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;

  button {
    margin: 12px;
  }
}
