.board-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &-title {
    margin: 12px 0;
  }

  &-spacer {
    flex: 1 1 auto;
  }

  &-icon {
    padding-left: 4px;
    font-size: 36px;
  }

  &-content {
    margin: 0;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;

    button {
      margin: 12px;
    }
  }
}
