<a [routerLink]="['/dashboard']">Go to dashboard</a>

<div class="registration">

    <ul id="registration-tabs" class="registration-tabs">
        <li class="registration-tabs-tab" (click)="makeActive(true)" [class.active-tab]="logIn">Sign In </li>
        <li class="registration-tabs-tab" (click)="makeActive(false)" [class.active-tab]="!logIn">Sign Up</li>
    </ul>

    <form class="registration-form" id="form">
        <span class="registration-form-label">Please enter your email</span>
        <input type="text" name="email" class="registration-form-input" placeholder="Email..." />

        <span *ngIf="!logIn" class="registration-form-label">Please enter your login</span>
        <input *ngIf="!logIn" type="text" name="email" class="registration-form-input" placeholder="Login..." />

        <span class="registration-form-label">Please enter your password</span>
        <input type="text" name="email" class="registration-form-input" placeholder="Password..." />

        <button *ngIf="logIn" class="registration-form-button" type="submit" (click)="login()">Log In</button>
        <button *ngIf="!logIn" class="registration-form-button" type="submit" (click)="register()">Register</button>
    </form>

</div>