.registration {
  margin: 70px auto 0;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  &-input {
    width: 100%;
    
    &:first-child {
      margin-top: 16px;
    }
  }

  &-button {
    width: 100%;
    padding: 10px;
  }
}
