<div class="registration">

    <div *ngIf="errors">
        <!-- / -->
    </div>

    <form [formGroup]="formGroup" class="registration-form" (submit)="submitForm()">

        <mat-tab-group dynamicHeight (selectedTabChange)="setActiveTab($event.index)">
            <mat-tab label="Sign In">
                <mat-form-field>
                    <mat-label>Please enter your email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="isEmailEmpty">Email Requied</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Please enter your password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Log In</button>
            </mat-tab>

            <mat-tab label="Sign Up">

                <mat-form-field>
                    <mat-label>Please enter your email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="isEmailEmpty">Email Requied</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Please enter your name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Please enter your password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                <button mat-raised-button type="submit">Register</button>
            </mat-tab>
        </mat-tab-group>
    </form>

    <pre>{{ formGroup.value | json }}</pre>

</div>