<mat-card class="card">
  <mat-card-header>
    <mat-card-title
      *ngIf="!isEditMode; else showInput"
      (click)="changeEditMode()"
    >
      {{ title }}
    </mat-card-title>
    <span class="card-spacer"></span>
    <mat-icon (click)="onClose.emit()">close</mat-icon>
  </mat-card-header>
  <ng-template #showInput>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Please enter task title</mat-label>
        <input
          matInput
          #taskNewTitle
          [value]="title"
          (blur)="updateTitle(taskNewTitle.value)"
        />
      </mat-form-field>
    </mat-card-content>
  </ng-template>
</mat-card>
