@import "../../styles.scss";

.column-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: calc(100% - 120px);

  &-section {
    height: calc(100% - 24px);
    width: 100%;
    margin: 0 12px;

    .card-add {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 236px;
      margin: 12px 0;
      background: $color-faded;
    }
  }
}
