<main class="column-list">
  <section
    *ngFor="let column of columns$ | async; trackBy: trackById"
    class="column-list-section"
  >
    <app-column
      [title]="column.title"
      [id]="column._id"
      (onClose)="openDialog(column._id)"
      (onOpen)="openColumn(column._id)"
      (onUpdate)="setColumn(column._id, $event)"
    >
    </app-column>
  </section>
  <section class="column-list-section">
    <mat-card class="card-add">
      <mat-form-field class="card-input">
        <mat-label>Please enter column title</mat-label>
        <input matInput [(ngModel)]="columnNewTitle" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addColumn()">
        Add column
      </button>
    </mat-card>
  </section>
</main>
