<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let board of boards$ | async; trackBy: trackById">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ board.title }}</mat-card-title>
        <button mat-button>delete</button>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>open</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div><input name="title" [(ngModel)]="title" />
  <button mat-button (click)="addBoard()">Add board</button></div>