<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let board of boards$ | async; trackBy: trackById">
    <app-board-preview
      [title]="board.title"
      [id]="board._id"
      (onClose)="openDialog(board._id)"
      (onOpen)="openBoard(board._id)"
      (onUpdate)="setBoard(board._id, $event)"
    >
    
    <!-- (onChangeMode)="changeMode($event)" -->

    </app-board-preview>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-add">
      <mat-form-field>
        <mat-label>Please enter board title</mat-label>
        <input matInput #boardTitle />
        <!-- <input matInput #boardTitle [(ng-model)]="boardTitle"/> -->
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        (click)="addBoard(boardTitle.value)"
      >
        Add board
      </button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
